<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->
<!--<script src="https://use.fontawesome.com/c95dd31573.js"></script>-->
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">
    <style type="text/css">
        b {
            margin-bottom: 15px;
        }
    </style>

</head>

<body>
<div class="container">
<div ng-controller="myController">
    {{message}}
</div>

<div ng-controller="DataBinding">
    <p>First Name: {{employee.firtName}}</p>
    <p>Last Name: {{employee.LastName}}</p>
    <p>Gender Name: {{employee.Gender}}</p>

</div>

<!--AngularJS ng src directive-->
<p class="alert alert-success">AngularJS ng src directive</p>
<div ng-controller="AngularJS-ng-Src-directive">
    <p>Name: {{imagesItem.name}}</p>
    <p>source: {{imagesItem.source}}</p>
    <!-- <p><img src="{{imagesItem.img}}" alt="{{imagesItem.name + 'banana'}}"></p> -->
    <!-- image use ng-src-->
    <p><img ng-src="{{imagesItem.img}}" alt="{{imagesItem.name}}"></p>
</div>

<!--Two way databinding in AngularJS-->
<p class="alert alert-success">Two way databinding in AngularJS</p>
<div ng-controller="Two-way-databinding-in-AngularJS">
    <!-- <input type="text" ng-model="datsend" />
    <p>{{message}}</p>
    <p>{{datsend}}</p> -->

    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" ng-model="TwoWayDatabinding.firtName" class="form-control"/></td>
        </tr><br>
        <tr>
            <td>Last Name</td>
            <td><input type="text" ng-model="TwoWayDatabinding.LastName" class="form-control"/></td>
        </tr>
<br>
        <tr>
            <td>Gender</td>
            <td><input type="text" ng-model="TwoWayDatabinding.Gender" class="form-control"/></td>
        </tr>
    </table>

    <br>

    <table>
        <tr>
            <td>First Name</td>
            <td>{{TwoWayDatabinding.firtName}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{TwoWayDatabinding.LastName}}</td>
        </tr>

        <tr>
            <td>Gender</td>
            <td>{{TwoWayDatabinding.Gender}}</td>
        </tr>
    </table>
    

    </div>

        <!-- AngularJS ng repeat directive-->
        <p class="alert alert-success">AngularJS ng repeat directive</p>
        <div ng-controller="AngularJSngrepeatdirective">
            <table>
                <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Salary</th>
                </thead>
                <tbody>
                <tr ng-repeat="emp in emps">
                    <td>{{emp.FirstName}}</td>
                    <td>{{emp.LastName}}</td>
                    <td>{{emp.Gender}}</td>
                    <td>{{emp.Salary}}</td>
                </tr>
                </tbody>
            </table>

            <br>
            <!-- Nested repeat-->
            <ul>
                <li ng-repeat="countrie in countries">
                    {{countrie.item}}
                    <ul>
                        <li ng-repeat="City in countrie.Citys">
                            {{City.Name}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Handling events in AngularJS-->
        <p class="alert alert-success">Handling events in AngularJS</p>
        <div ng-controller="HandlingEvent">
            <table>
                <thead>
                <th> Name</th>
                <th>Like</th>
                <th>Dislike</th>
                <th>Like/dislike</th>
                </thead>
                <tbody>
                <tr ng-repeat="technologie in technologies">
                    <td>{{technologie.name}}</td>
                    <td>{{technologie.likes}}</td>
                    <td>{{technologie.dislikes}}</td>
                    <td>
                        <input type="button" value="Like" ng-click="incrementLikes(technologie)">
                        <input type="button" value="Dislike" ng-click="incrementDisLikes(technologie)">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- AngularJS filters --><br>
    <p class="alert alert-success"><b>AngularJS filters | select option | Biderection sort | search filter | Filter by multiple properties</b></p>
        <div ng-controller="AngularJSFilters">
            Row Display <input type="number" class="form-control" step="1" value="0" min=" 5" max="" ng-model="rowLimit">
            <br>
            <p>select option sort</p>
            <select class="form-control" ng-model="selectSort">
                 <option value="name">name</option>
                 <option value="dateOfBirth">Date of Birth</option>
                 <option value="Gender">Gender</option>
                 <option value="salary">salary</option>
                 <option value="salary">salary</option>
             </select><br>
             Search Filter: <input type="text" name="" placeholder="Search Filter" ng-model="SearchTable" class="form-control">
		    <br>
            
            <div class="row">
	            <p>Filter by multiple properties</p>
            <!--	<div class="col-md-4"><input type="text" name="" placeholder="Search Name" ng-model="SearchTable.name" class="form-control"></div>
                <div class="col-md-4"><input type="text" name="" placeholder="Search City" ng-model="SearchTable.city" class="form-control"></div>	
                <div class="col-md-4"><div class="checkbox"><label><input type="checkbox" ng-model="exactMatch"> Exact match</label></div></div>-->
            </div>
            <br>
            <table class="table table-bordered table-hover">

                <thead>
                <th ng-click=" SortData( 'name')" >Name <span ng-class="getData('name')"></span></th>
                <th ng-click="SortData( 'dateOfBirth')">Date of Birth <span ng-class="getData('dateOfBirth')"></span> </th>
                <th ng-click="SortData( 'Gender')">Gender <span ng-class="getData('Gender')"></span> </th>
                <th ng-click="SortData( 'salary')">Salary(Nmber)<span ng-class="getData('salary')"></span> </th>
                <th ng-click="SortData( 'salary')" >Salary(Currency)<span ng-class="getData('salary')"></span> </th>
                </thead>
                <tbody>
                <tr ng-repeat="employee in employees | limitTo: rowLimit | orderBy: 'name' | orderBy: selectSort:revarseSort | filter: SearchTable ">
                    <td>{{employee.name | uppercase}}</td>
                    <td>{{employee.dateOfBirth | date:"dd/MM/yyyy"}}</td>
                    <td>{{employee.Gender | lowercase}}</td>
                    <td>{{employee.salary | number: 2}}</td>
                    <td>{{employee.salary | currency: " TK "}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
		
               <p class="alert alert-success">Custome filter Angular js</p>         
  <table class="table table-bordered table-hover" ng-controller="cutomeFilter">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>

</div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>